/**
 * @file
 * _varisco.scss has customization for Tom Varisco Designs.
 *
 */

#page {
  //background: none repeat scroll 0 0 $light-gray;
}
#block-system-main-menu {
  ul {
	  padding: 0;
	li {
	  list-style: none;
	  list-style-position: inside;
	  a {
		color: $gray;
		text-decoration: none;
	  }
	  a:hover {
		color: $dark-orange;
	  }
	}
  }
}