/**
 * @file
 * _varisco.scss has customization for Tom Varisco Designs.
 *
 */
html {
  height: 100%;
}
body {
  height: 90%;
}
#page {
  background: none repeat scroll 0 0 $light-gray;
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 100%;
}
.header__site-name,#block-system-main-menu h2 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
}
.views-field-title {
	color: $dark-orange;
}
#content {
	margin-top: 0em;
}
.page__title {
  display: none;
}
.page-node .page__title {
  color: $dark-orange;
  display: block;
  font-size: 1.25em;
  text-transform: uppercase;
}
.field-name-field-project-description {
	border-top: 1px solid $lighter-gray;
	border-bottom: 1px solid $lighter-gray;
	color: $dark-gray;
}
.view-project-client {
	text-transform: uppercase;
	a {
		color: $dark-orange;
	}
}
#block-block-1 {
  font-size: 0.7em;
}
#block-system-main-menu {
  h2 {
    display: none;
  }
  ul {
    font-size: 4em;
	  font-size: 4.5vw;
    line-height: 1em;
    margin: 0;
	  padding: 0 0 0 10px;

    text-transform: uppercase;
	li {
	  list-style: none;
	  list-style-position: outside;
	  a {
		color: $gray;
		text-decoration: none;
	  }
	  a:hover, a.active-trail {
		color: $dark-orange;
	  }
	}
  }
}
.mean-container {
  .mean-bar {
    background: none repeat scroll 0 0 transparent;
  }
  a.meanmenu-reveal {
    background: none repeat scroll 0 0 $gray;
    span {
      background: none repeat scroll 0 0 #FFFFFF;
      display: block;
    }
    span.mean-head {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      color: $white;
    }
  }
  .mean-nav {
    background: none repeat scroll 0 0 $gray;
    h2 {
      color: $white;
    }
    ul li a {
      background: none repeat scroll 0 0 $gray;
      color: $white;
    }
    ul li a:hover {
      background: none repeat scroll 0 0 $gray;
      color: $dark-orange;
    }
    ul li a.mean-expand:hover {
      background: none repeat scroll 0 0 $gray;
    }  
  }
}