/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a fluid grid with 1, 3, or 5 columns and 20px gutters
// between columns (applied as 10px of left/right padding on each column).
$zen-columns:  1;
$zen-gutters:  20px;

// If you need IE6/7 support for box-sizing: border-box (default), see _init.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-switch-direction == false {

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  // See the note about $zen-auto-include-item-base above.
  @include zen-grid-item-base();
}
.region-sidebar-first {
  background: none repeat scroll 0 0 $dark-orange;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
  h1.header__site-name {
    font-size: 1.5em;
    line-height: 1.25em;
    a {
      &:link,
      &:visited {
        color: $white;
      }
    }
  }
  .header__name-and-slogan {
    float: none;
  }
  #block-block-1 {
    font-size: 0.8em;
    padding-left: 5px;
    p {
      color: $dark-gray;
      font-weight: bold;
      line-height: 1.25em;
      margin: 0;
      padding: 0;
    }
    .studio-address {
    }
    .studio-phone {
      float: left;
      margin-right: 0.5em;
    }
    .studio-email {
      a {
        color: $dark-gray;
      }
    }
  }

#block-block-2 {
  margin-bottom: 0;
}
.section-studio {
  .page__title {
    display: block;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }  
  p.studio-page-image {
    margin: 0;
    width: 100%;
  }
}

#content {
  margin-top: 6em;
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  @include zen-grid-container();
}
 .masonry-item {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
/* Navigation bar */
@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: $nav-height;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: $nav-height;
    width: $zen-grid-width;
  }
}

} // End of @if $zen-switch-direction == true

/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  $zen-columns: 3!global;
 .masonry-item {
    padding: 10px;
    width: 40%;
  }
  .region-sidebar-first {
    background: none repeat scroll 0 0 transparent;
    position: relative;
    top: auto;
    left: auto;
  }
  h1.header__site-name {
    font-size: 1em;
    font-size: 1.25vw;
    line-height: 1em;
    font-weight: normal;
    margin-bottom: 0.5em; 
    a {
      &:link,
      &:visited {
        color: $dark-orange;
      }      
    }
  }
  .header__name-and-slogan {
    padding-left: 10px;
    float: left;
  }
   #page {
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
   margin-top: 20px;
    //@include zen-grid-background();
  }
  .page__title {
    display: none;
  }
  #main {
    padding-top: 1em;
  }
#block-block-1 {
  font-size: 1em;
  font-size: 1vw;
  padding-left: 10px;
  p {
    color: $dark-gray;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
  }
  .studio-address {
    font-size: 0.74em;
    font-size: 0.74vw;
  }
  .studio-phone {
      float: none;
      margin-right: 1em;
  }
  .studio-email {
    a {
      color: $med-orange;
    }
  }
}
#block-block-2 {
  margin-bottom: 2em;
}
.section-studio {
  .page__title {
    display: none!important;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    width: 725px;
  }  
  p.studio-page-image {
    margin: 0;
    width: auto;
  }
}
#content {
  margin-top: 0em;
}

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(2, 1);
    }

    /* Span 1 column, starting in 3rd column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 3);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(3, 1);
      @include zen-grid-container(); // Since we're making every block in this region be a grid item.
      @include zen-new-row();

      /* Apply the shared properties of grid items in a single, efficient ruleset. */
      .block {
        @include zen-grid-item-base();
      }
      /* Span 1 column, starting in the 1st column from left. */
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1);
        @include zen-new-row();
      }
      /* Span 1 column, starting in the 2nd column from left. */
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      /* Span 1 column, starting in the 3rd column from left. */
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3);
      }
    }
  }
// responsive grid layout
  .views-responsive-grid {
    @include zen-grid-item-base();
    @include zen-grid-container();
    //@include zen-grid-background();
  }
  .views-responsive-grid .views-row {
    @include zen-new-row();
  }
  .views-responsive-grid.views-columns-2 {
    $zen-columns:  2 !global;
    @include zen-grid-container($context: flow);
    .views-column-1 {
      @include zen-grid-item(1, 1);
    }
    .views-column-2 {
      @include zen-grid-item(1, 2);
    }
  }
  .views-responsive-grid.views-columns-3 {
    $zen-columns:  3 !global;
    @include zen-grid-container($context: flow);
    .views-column-1 {
      @include zen-grid-item(1, 1);
    }
    .views-column-2 {
      @include zen-grid-item(1, 2);
    }
    .views-column-3 {
      @include zen-grid-item(1, 3);
    }
  }
  .views-responsive-grid.views-columns-4 {
    $zen-columns:  2 !global;
    @include zen-grid-container($context: flow);
    @include zen-grid-background($grid-color: #CCC);  
    .views-column-1 {
      @include zen-grid-item(1, 1);
    }
    .views-column-2 {
      @include zen-grid-item(1, 2);
    }
    .views-column-3 {
      @include zen-grid-item(1, 1);
      @include zen-new-row();
    }
    .views-column-4 {
      @include zen-grid-item(1, 2);
    }
  }  
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  $zen-columns: 5!global;
  .masonry-item {
    padding: 10px;
    width: 20%;
  }
  #page {
    //@include zen-grid-background();
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #main {
    padding-top: 1em;
  }
  .page__title {
    display: none;
  }
  .region-sidebar-first {
    background: none repeat scroll 0 0 transparent;
    position: relative;
    top: auto;
    left: auto;
  }
  h1.header__site-name {
    font-size: 1em;
    font-size: 1.25vw;
    line-height: 1em;
    font-weight: normal;
    margin-bottom: 0.5em; 
    a {
      &:link,
      &:visited {
        color: $dark-orange;
      }      
    }
  }
  .header__name-and-slogan {
    padding-left: 10px;
    float: left;
  }
#block-block-1 {
  font-size: 1em;
  font-size: 1vw;
  padding-left: 10px;
  margin-bottom: 0;
  p {
    color: $dark-gray;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
  }
  .studio-address {
    font-size: 0.74em;
    font-size: 0.74vw;
  }
  .studio-phone {
      float: none;
  }
  .studio-email {
    a {
      color: $med-orange;
    }
  }
}
#block-block-2 {
  margin-bottom: 2em;
}
#block-block-3 {
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 10px;
  p {
    margin: 0;
  }
}
#block-campaignmonitor-454473ba9a4727caea867f18be3bb00b {
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 10px;
  h2 {
    color: $dark-gray;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0;
    margin-top: 0;
  }
  p {
    margin: 0;
  }
  .form-item {
    margin: 0;
  }
  label {
    display: none;
  }
}
.section-studio {
  .page__title {
    display: none!important;
  }
  p {
    margin-left: auto;
    margin-right: auto;
    width: 725px;
  }  
  p.studio-page-image {
    margin: 0;
    width: auto;
  }
}
#content {
  margin-top: 0em;
}
  .region-highlighted {
  //  @include zen-grid-container($context: none);
  //  @include zen-grid-item(5, 1);    
  //  @include zen-new-row();
  }
  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(4, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      position: fixed;
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(4, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(3, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }
// responsive grid layout
  .views-responsive-grid {
    @include zen-grid-item-base();
    @include zen-grid-container();
    //@include zen-grid-background();
  }
  .views-responsive-grid .views-row {
    @include zen-new-row();
  }
  .views-responsive-grid.views-columns-2 {
    $zen-columns:  2 !global;
    @include zen-grid-container($context: flow);
    .views-column-1 {
      @include zen-grid-item(1, 1);
    }
    .views-column-2 {
      @include zen-grid-item(1, 2);
    }
  }
  .views-responsive-grid.views-columns-3 {
    $zen-columns:  3 !global;
    @include zen-grid-container($context: flow);
    .views-column-1 {
      @include zen-grid-item(1, 1);
    }
    .views-column-2 {
      @include zen-grid-item(1, 2);
    }
    .views-column-3 {
      @include zen-grid-item(1, 3);
    }
  }
  .views-responsive-grid.views-columns-4 {
    $zen-columns:  4 !global;
    @include zen-grid-container($context: flow);
    //@include zen-grid-background();  
    .views-column-1 {
      @include zen-grid-item(1, 1);
    }
    .views-column-2 {
      @include zen-grid-item(1, 2);
    }
    .views-column-3 {
      @include zen-grid-item(1, 3);
    }
    .views-column-4 {
      @include zen-grid-item(1, 4);
    }
  }
}
